In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("FTB_Data_2025_06_19.csv")
df.shape

(100000, 9)

In [3]:
selected_features = ['LHSSHIM','RHSSHIM']
M_dataset = df.groupby("TYPE")[selected_features].median()

In [4]:
M_dataset

             LHSSHIM  RHSSHIM
TYPE
200+8(028)     1.660    1.690
230+8=020      1.600    1.580
240+8          1.630    1.610
245+10         1.890    1.870
250+10         1.880    1.880
250+10(028)    1.950    1.940
250+8          1.480    1.480
250+8=020      1.450    1.440
250+8=028      1.910    1.900
255+10         1.620    1.620
255+8          1.720    1.720
255+8=020      1.750    1.710
255+8=028      1.940    1.950
258+8=020      1.490    1.480
260+10=020     1.510    1.520
260+8          1.810    1.800
270+8          1.790    1.790
275+8=020      1.610    1.610
280+8          1.815    1.815
Master 300     1.540    1.530

In [5]:
M_dataset.to_csv("M_dataset.csv")

In [6]:
fd = pd.read_csv("M_dataset.csv")